body {
    margin: auto;
    /*width: 1000px; !* Pages are often forced to some reasonable width. *!*/
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.428571429;
    color: #333333;
    background-color: #fff;
}



header {

    text-transform: capitalize;
    margin: 0px;
    padding: 0px;
    background: #c4c4c4;
}



h1,h2, h3 {
    margin-left: 15px;
    margin-top: 0px;
}

nav {

    background-color: #35392c;
}

section, aside {
    background-color: #525d3a;

}

header.banner {
    height: 290px;
    position: relative;
    background-image: url("#{resources['default/img/ibizony.png']}");
    background-repeat: no-repeat;
}

#page {
    background-color: #525d3a;
}

h1.title {
    margin-top: 0px;
    margin-bottom: 0px;
}

footer {
    background: #c4c4c4 -webkit-gradient(linear,left top,left bottom,from(rgba(255,255,255,0.8)),to(rgba(255,255,255,0)));
    text-align: center;
    border: 1px solid #a8a8a8;
    border-radius: 3px;
    color: #333;
    font-weight: bold;
    text-shadow: 0 1px 0 rgba(255,255,255,0.7);

}

details, summary{
    background-color: #819359;
}


article aside {
    float: left;
}

article footer {
    clear: left;
}

a:link, a:visited {
    color: #525d3a; text-decoration: none
}

nav ul {
    list-style-type: none; /* Remove bullets. */
    margin: 0px;
    padding: 0px;

}

nav ul li {
    display: inline-block; /* Put list items next to each other. */

}

nav ul li a {
    height: 20px;
    display: block; /* Make whole link are clickable. */
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
    color: #525d3a;
}

nav ul li a:hover {
    background-color: #BFB078;
}

nav li a.aktualna {
    color: lawngreen;
}
.pozycja {
    margin-top: 212px;
}
table.daneOsobowe, table.daneOsobowe tr, table.daneOsobowe td, table.daneOsobowe th,
table.wyksztalcenie, table.wyksztalcenie tr, table.wyksztalcenie td, table.wyksztalcenie th,
table.doswiadczenie, table.doswiadczenie tr, table.doswiadczenie td, table.doswiadczenie th {
    border-collapse: collapse;
    border-width: 2px;
    border-style: solid;
}

table.daneOsobowe td, table.daneOsobowe th, table.wyksztalcenie td, table.wyksztalcenie th,
table.doswiadczenie td, table.doswiadczenie th{
    padding: 15px;
    text-transform: capitalize;
    text-align: center;
}

table.daneOsobowe, table.wyksztalcenie, table.doswiadczenie {
    margin: 15px;
}

table.daneOsobowe th, table.daneOsobowe caption, table.wyksztalcenie th, table.wyksztalcenie caption,
table.doswiadczenie th, table.doswiadczenie caption {
    text-transform: capitalize;

}

td.dane, tr.dane, th.dane {

    font-weight: bold;
    background-color: #819359;
}

section p, section summary {
    margin-right: 10px;
    margin-left: 10px;
    text-align: justify;
}

#panel_logowania {
    width: 400px;
    margin: 20px auto;
    padding: 0;
    background: #fff;
    border: 1px solid silver;
    font: 16px calibri;
    letter-spacing: -1px;
    padding: 15px 0 0;
    -webkit-box-shadow: 0 0 2px silver;
    -moz-box-shadow: 0 0 2px silver;
    box-shadow: 0 0 2px silver;
}
form {margin: 0;}

#panellogin {
    display: block;
    width: 260px;
    padding: 10px 20px;
    color: #696969;
    font-size: 16px;
    text-shadow: 0 0 1px silver;
}

label {
    display: block;
    /*width: 260px;*/
    padding: 10px 20px;
    color: #696969;
    font-size: 16px;
    text-shadow: 0 0 1px silver;
}


#login, #haslo {
    font-size: 22px;
    display: block;
    width: 360px;
    margin: 0 auto;
    padding: 10px 5px;
    border: 1px solid silver;
    border-radius: 3px;
    /*outline: 5px solid #ebebeb;*/
}
#login:focus, #haslo:focus {
    outline: 5px solid #e5f2f8;
}
#dol {
    background: #c4c4c4 -webkit-gradient(linear,left top,left bottom,from(rgba(255,255,255,0.8)),to(rgba(255,255,255,0)));
    width: 360px;
    padding: 15px 20px;
    margin-top: 20px;
}
.check {
    display: inline;
    float: none;
    font-size: 11px;
    padding: 5px;
}
input[type="submit"] {
    font-size: 20px;
    width: auto;
    padding: 5px 13px;
    border: 1px solid grey;
    color: #333333;
    /*text-shadow: 0 0 1px black;*/
    background: #c4c4c4 -webkit-gradient(linear,left top,left bottom,from(rgba(255,255,255,0.8)),to(rgba(255,255,255,0)));
    position: relative;
    left: 250px;
}
input[type="submit"]:hover {
    background-color: cornflowerblue;
}

.button, button {
    font-size: 20px;
    /*width: auto;*/
    padding: 5px 13px;
    border: 1px solid grey;
    color: #333333;
    /*text-shadow: 0 0 1px black;*/
    background: #c4c4c4 -webkit-gradient(linear,left top,left bottom,from(rgba(255,255,255,0.8)),to(rgba(255,255,255,0)));
    position: relative;
    left: 250px;
}
.button:hover, button:hover {
    background-color: cornflowerblue;
}

#panel_logowania, input[type="submit"] {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

