<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<h:head>
    <title>Tytuł</title>
    <h:outputStylesheet library="default" name="css/styles.css"/>
</h:head>
<h:body>
    <h:form>
        <h:panelGrid columns="3" columnClasses="rightalign,leftalign,leftalign">
            <h:outputLabel value="Tytuł grz.:" for="salutation"/>
            <h:selectOneMenu id="salutation" label="Tytuł grz." value="#{registrationBean.salutation}">
                <f:selectItem itemLabel="" itemValue=""/>
                <f:selectItem itemLabel="Pan" itemValue="PAN"/>
                <f:selectItem itemLabel="Pani" itemValue="PANI"/>
                <f:selectItem itemLabel="Panna" itemValue="PANNA"/>
                <f:selectItem itemLabel="Dr." itemValue="DR"/>
            </h:selectOneMenu>
            <h:message for="salutation"/>
            <h:outputLabel value="Imię:" for="firstName"/>
            <h:inputText id="firstName" label="Imię" required="true" value="#{registrationBean.firstName}"/>
            <h:message for="firstName"/>
            <h:outputLabel value="Nazwisko:" for="lastName"/>
            <h:inputText id="lastName" label="Nazwisko" required="true" value="#{registrationBean.lastName}"/>
            <h:message for="lastName"/>
            <h:outputLabel value="Wiek:" for="age"/>
            <h:inputText id="age" label="Wiek" required="true" value="#{registrationBean.age}" size="2"/>
            <h:message for="age"/>
            <h:outputLabel value="Email:" for="email"/>
            <h:inputText id="email" label="Email" required="true" value="#{registrationBean.email}"/>
            <h:message for="email"/>
            <h:commandButton id="register" value="Zarejestruj" action="confirmation"/>
        </h:panelGrid>
    </h:form>
</h:body>
</html>
